<div class="container mt-5">
  <div class="row justifly-content-center">
    <div class="col-md-12">
      <h1> Please Your Ask Your Question to your Coach </h1>
      <form class="row g-3" action="/answer" method="get">
        <div class="col-md-12">
          <label for="askquestion" class="form-label">Question </label>
          <input type="text" class="form-control" name="askquestion" id="ask-question">
          <button type="submit" class="btn btn-primary mt-3" value="Ask!">Ask!</button>
        </div>
      </form>
    </div>
  </div>
</div>
